@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-image: url('./images/pexels-daria-shevtsova-916335.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

#shadow {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
}

header,
.container {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

header button {
    color: #fff;
    height: fit-content;
    align-content: center;
    align-self: center;
    padding: 0.3rem 1rem;
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(149, 128, 255, 0.8);
}

.container {
    margin: 2rem;
}

.date-control {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    font-weight: bolder;
    border-radius: 5%;
}

.date-control p {
    font-size: 2.2rem;
}

.date-control span {
    align-self: center;
    font-size: 1.5rem;
}

.date-control:hover {
    background-color: rgba(0, 0, 0, 0.2);
    width: 11rem;
    height: 11rem;
}